<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ürün Satış Sistemi</title>
    <link rel="stylesheet" href="@ViewData["css"]">
</head>

<body>
<div class="container">
    <header>
        <h1>Ürün Satış Sistemi</h1>
        <nav>
            <a href="home/admin">Admin</a>
            <a href="/">Ana Sayfa</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>
</div>
</body>

</html>